{% extends  "todo/base.html "%}
    {% block content%}
        <div class="content-section center-column" >
            <form method="POST">
                {% csrf_token%}
                <fieldset class="form-group">
                <h3>Are you sure you want to delete "{{item}}"</h3>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-danger" type="submit">Yes, Delete It</button>
                    <a class="btn btn-outline-secondary" href="{% url 'home'  %}">Cancel</a>
                </div>
            </form>
        </div>
    {% endblock %}