<div class="center-column">
    {% extends "todo/base.html" %}
        {% block content %}
            <form method="POST" action="/">
                {% csrf_token %}
                {{form.title}}
                <input class="btn btn-outline-info" type="submit"  name ='Create a task'>
            </form>
            {% for task in tasks %}
                <div class="item-row">
                    <a class="btn btn-outline-info" href="{% url 'update-task' task.id %}"> Update </a>
                    <a class="btn btn-outline-danger" href="{% url 'delete-task' task.id %}"> Delete </a>
                    {% if task.complete == True %}
                        <strike>{{ task }}</strike>
                    {% else %}
                        <span>{{ task }}</span>
                    {% endif %}
                </div>
            {% endfor %}
                
        {% endblock %}
</div>